<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.registrysystem">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeScreen"
            android:exported="false" />
        <activity
            android:name=".ClientScreens.homescreen_activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.registrysystem.ClientScreens.clockinlistscreen_activity" />
        <activity android:name="com.example.registrysystem.ClientScreens.createregisterscreen_activity" />
        <activity android:name="com.example.registrysystem.ClientScreens.createregister2screen_activity" />
        <activity android:name=".exportscreen_activity" />
        <activity android:name="com.example.registrysystem.ClientScreens.donescreen_activity" />
    </application>

</manifest>